@font-face {
    font-family: sf;
    src: url('sf-pro-display/SFPRODISPLAYREGULAR.OTF');
}
@font-face {
    font-family: sfm;
    src: url('sf-pro-display/SFPRODISPLAYMEDIUM.OTF');
}
@font-face {
    font-family: sfb;
    src: url('sf-pro-display/SFPRODISPLAYBOLD.OTF');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  Helvetica, sans-serif,Arial; */
}
html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5vw;
    background-color: rgb(255, 253, 252);
    font-size: 14px;
    border-radius: 10px;
}
.navbar a {
    font-family: sf;
    text-decoration: none;
    color: inherit;
}
.navbar i{
    font-size: 16px
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 0;
    background-color: rgb(245,245,247);
    border-radius: 3px;
}
.offer p a{
    font-family: sfm;
    letter-spacing: 1.2px;
}
.offer a{
    text-decoration: none;
    color: rgb(65, 110, 232);
}
.catalogue{
    padding: 4em 6em;
}
#c_top{
    font-size: 6vw;
    font-family: sfb;
}
.c_items{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3vw;
}
.i1{
    padding-top: 3.2em;
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.i1 img{
    height: 5em;
}
.i1 h6{
    font-family: sf;
    font-size: 16px;
}
.line_up    {
    background-color: rgb(245,245,247);
     border-radius: 5px;
     padding: 9em 6em;
     display: flex;
     flex-direction: column;
}
.line_top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.line_top h3{
    font-family: sf;
    font-size: 52px;
}
.line_top a{
    text-decoration: none;
    color: rgb(65, 110, 232);
    font-size: 19px;
}
.line_items{
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}
.i2{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 10px;
 /* background-color: cadetblue; */
}
.i2 img{
    /* min-height: 456px; */
    height: 25vw;
    border-radius: 45px;
}
.i2 h6{
    font-size: 32px;
    font-family: sf;
    margin-bottom: 10px;
}
.info{
    /* background-color: #000; */
    padding: 0 29px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    padding-bottom: 15px;
}
.para1{
    font-size: 22px;
    font-family: sf;
    color: rgb(75, 73, 73);
    text-align: center;
}
.para2{
    color: rgb(39, 40, 38);
    font-size: 15px;
}
.i2butt{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 6vw ;
}
.i2butt button{
    padding: 12px 23px;
    border-radius: 23px;
    border: none;
    background-color: rgb(117, 117, 240);
    font-size: 19px;
    font-family: sfb;
    color: white;
}
.i2butt a{
    text-decoration: none;
    font-size: 23px;
    font-family: sfm;
}
.ad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    flex-direction: column;
}
.ad h6{
    margin-left: 4.2vw;
    font-size: 8vh;
    align-self: flex-start;
    font-family: sf;
}
.ad img{
    margin-top: 5vh;
    border-radius: 50px;
    box-shadow: 12px 12px 23px grey;
    width: 99%;
}
.acce{
    /* width: 30%; */
    background-image: url('https://tradelinestores.s3.amazonaws.com/media/product_images/6590c4ae-2d1e-4a56-98d3-f2e60a43a52f.png');
}