@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 12vh;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 2fr 1.2fr;
  /* background-color: #6c5e5e; */
  /* border: 2px solid rgb(155, 200, 5); */
}
.left {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkblue; */
  /* padding-left: 120px; */
  gap: 1vw;
  font-size: 40px;
  font-family: Fjalla One;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 6vh;
  min-height: 5vh;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgreen; */
}
.middle a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #534f4f;
  text-decoration: none;
}
.middle a:hover {
  color: rgb(1, 96, 255);
}
.right {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.left-middle button,
.right button {
  padding: 12px 29px;
  border-radius: 25px;
  border: 2px solid rgb(1, 96, 255);
}
.lm-button button:first-child,
.right button:first-child {
  background-color: #fff;
  font-size: 17px;
}
.lm-button button:first-child:hover,
.right button:first-child:hover {
  background-color: rgb(1, 96, 255);
  color: #fff;
}
.lm-button button:nth-child(2),
.right button:nth-child(2) {
  background-color: rgb(1, 96, 255);
  color: #fff;
  font-size: 17px;
}
.main-3 div:nth-child(3) button:hover,
.lm-button button:nth-child(2):hover,
.right button:nth-child(2):hover {
  background-color: #fff9f900;
  color: #000;
  box-shadow: 0 12px 24px rgba(17, 14, 14, 0.3);
}

main {
  width: 100%;
  height: 84vh;
  display: grid;
  grid-template-rows: repeat(8, 2fr);
  /* grid-template-columns: 1fr 1fr; */

  /* border: 2px solid blueviolet; */
  /* grid-gap: 2px; */
}
.main-1 {
  padding: 40px 0;
  border-radius: 25px;
  background-color: rgb(247, 247, 248);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 4px solid seagreen; */
}
.right-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #534f4f; */
}
.right-middle img {
  object-fit: contain;
  height: 72vh;
  border-radius: 25px;
}
.left-middle {
  /* background-color: aquamarine; */
  gap: 5vh;
  display: flex;
  padding-left: 7vw;
  padding-right: 3vw;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.left-middle h1 {
  font-size: 70px;
  font-family: Inter;
  font-weight: 400;
}
.left-middle p {
  font-family: inter;
  font-size: 21px;
  color: #534f4f;
}
.lm-button {
  display: flex;
  gap: 12px;
}
.main-2 {
  /* height: 172px; */
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  /* border: 1px solid salmon; */
  padding: 52px 13px;
}
.main-2 div {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-2 div h1 {
  font-size: 62px;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
}
.main-2 div p {
  font-size: 29px;
  text-align: center;
  color: #534f4f;
}
.main-3 {
  display: grid;
  grid-template-rows: 3;
  width: 100%;
  border-radius: 25px;
  background-color: rgb(247, 247, 248);
  padding: 80px 7vw;
  /* border: 1px solid saddlebrown; */
  padding-bottom: 10px;
}
.expertise-button button,.protfolio-button button {
  padding: 15px 30px;
  /* border: red; */
  border-radius: 35px;
  font-family: Inter;
  font-size: 19px;
  background-color: #fff;
  text-transform: uppercase;
}
.expertise-button button:hover {
  border: 2px solid red;
  color: red;
}
.expertise,.service-offer {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.expertise p,.service-offer p {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  color: #534f4f;
}
.exp{
    font-size: 40px;
    font-family: Inter ;
    font-weight: 500;
}

.main-3 div:nth-child(3) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overflow: hidden; */
  padding: 42px 0;
  gap: 34px;
}
.main-3 div:nth-child(3) img {
  height: 91vh;
  border-radius: 30px;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.main-3 div:nth-child(3) img:hover {
  /* box-shadow: 0 12px 24px rgba(240, 35, 35, 0.3); */
  transform: translateY(-8px);
  z-index: 10;
}
.main-3 div:nth-child(3) button {
  padding: 15px 30px;
  border-radius: 30px;
  font-family: Inter;
  font-size: 22px;
  background-color: rgb(1, 96, 255);
  color: #fff;
  border: rgb(1, 96, 255);
}
.main-4,.main-5{
   padding: 80px 7vw;
}
.service-button{
    padding: 62px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: royalblue; */
    width: 100%;
}
.button-service{
    display: grid;
    grid-template-columns: 2fr 4fr 0.5fr;
    background-color: rgb(247,247,248);
    padding: 22px 13px;
    border-radius: 25px;
}
.button-service:hover{
    background-color: rgb(1, 96, 255);
    color: #fff
}
.go{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.go button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 40px;
    background-color: rgb(1, 96, 255);
    border:none;
    color: #fff;
}
.go button:hover{
    color: rgb(1, 96, 255);
    background-color: white;
}
.s{
    font-size: 36px;
    font-family: Inter;
    font-weight: 500;
}
.s1{
    font-size: 20px;
    font-family: Inter;
    color: #534f4f;
}
.main-5{
  background-color: rgb(247, 247, 248);
  border-radius: 25px;
}
.middle-m5{
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.2fr;
    /* background-color: chocolate; */
}
.middle-m5 h6{
    font-size: 60px;
    font-family: Inter ;
    font-weight: 500;
}
.middle-m5 button{
    /* height: 30px; */
    /* width: 160px; */
    font-size: 20px;
    padding: 12px 23px;
    border-radius: 25px;
    font-family: Inter;
    font-weight: 400;
    background-color: rgb(1, 96, 255);
    color: #fff;
    border: none;
}
.bottom{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 12px;
    padding-top: 45px;
}
.p1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.p1 img{
    height: 61vh;
    border-radius: 35px;
    object-fit: cover;
}
.p1 h6{
    font-family: Inter;
    font-size: 33px;
    font-weight: 500;
}
.p1 p{
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: #5d5d5d;
}
.p1-button{
    display: flex;
    gap: 13px;
}
.p1-button  button{
    padding: 10px 8px;
    border-radius: 23px;
    background-color: rgb(140, 173, 188);
    color: #fff;
    font-family: Inter;
    text-transform: capitalize;
    border: none;
}
.p1-button  button:hover{
    background-color: burlywood;
}











button{
    cursor: pointer;
}