@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 12vh;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 2fr 1.2fr;
  /* background-color: #6c5e5e; */
  /* border: 2px solid rgb(155, 200, 5); */
}
.left {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkblue; */
  /* padding-left: 120px; */
  gap: 1vw;
  font-size: 40px;
  font-family: Fjalla One;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 6vh;
  min-height: 5vh;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgreen; */
}
.middle a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #534f4f;
  text-decoration: none;
}
.middle a:hover {
  color: rgb(1, 96, 255);
}
.right {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.left-middle button, .right button {
  padding: 12px 29px;
  border-radius: 25px;
  border: 2px solid rgb(1, 96, 255);
}
.lm-button button:first-child, .right button:first-child {
  background-color: #fff;
  font-size: 17px;
}
.lm-button button:first-child:hover, .right button:first-child:hover {
  background-color: rgb(1, 96, 255);
  color: #fff;
}
.lm-button button:nth-child(2), .right button:nth-child(2) {
  background-color: rgb(1, 96, 255);
  color: #fff;
  font-size: 17px;
}
.lm-button button:nth-child(2):hover, .right button:nth-child(2):hover {
  background-color: #fff;
  color: #000;
}

main{
    width: 100%;
    height: 84vh;
    display: grid;
    grid-template-rows:repeat(8 ,2fr);
    /* grid-template-columns: 1fr 1fr; */
    
    /* border: 2px solid blueviolet; */
    /* grid-gap: 2px; */
}
.main-1{
    padding:  40px 0 ;
    border-radius: 25px;
    background-color:rgb(247,247,248) ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 4px solid seagreen; */
}
.right-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #534f4f; */
}
.right-middle img{
    object-fit: contain;
    height: 72vh;
    border-radius: 25px;
}
.left-middle{
    /* background-color: aquamarine; */
    gap: 5vh;
    display: flex;
    padding-left: 7vw;
    padding-right: 3vw;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.left-middle h1{
    font-size: 70px;
    font-family: Inter;
    font-weight: 400;
}
.left-middle p{
    font-family: inter;
    font-size: 21px;
    color: #534f4f;
}
.lm-button{
    display: flex;
    gap: 12px;
}
