@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 12vh;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 2fr 1.2fr;
  /* background-color: #6c5e5e; */
  /* border: 2px solid rgb(155, 200, 5); */
}
.left {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkblue; */
  /* padding-left: 120px; */
  gap: 1vw;
  font-size: 40px;
  font-family: Fjalla One;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 6vh;
  min-height: 5vh;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgreen; */
}
.middle a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #534f4f;
  text-decoration: none;
}
.middle a:hover {
  color: rgb(1, 96, 255);
}
.right {
  /* border: 12px solid rgb(125, 2, 12); */
  /* background-color: darkgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.right button {
  padding: 12px 29px;
  border-radius: 25px;
  border: 2px solid rgb(1, 96, 255);
}
.right button:first-child {
  background-color: #fff;
  font-size: 17px;
}
.right button:first-child:hover {
  background-color: rgb(1, 96, 255);
  color: #fff;
}
.right button:nth-child(2) {
  background-color: rgb(1, 96, 255);
  color: #fff;
  font-size: 17px;
}
.right button:nth-child(2):hover {
  background-color: #fff;
  color: #000;
}
